
*.fdb_latexmk
*.fls
*.aux
*.bbl
*.blg
*.log
*.out
*.pdf

reading/*

*.log
*.gz

*.pyc

/.downloads
/.tools
/FormalBench-data/FilteredJava
/differential_testing/generation/test_input_extractor.py
/differential_testing/execution/test_result_comparator.py
/differential_testing/execution/test_run_java_c.py
